*.log
PIPO.LOG*
pipo*
netlist
raw
si.env
inv*
ihnl
map
keys.*

design_lib_jpeg_asic/

DFM_final.*

.cgidrc*

*.rep

*SmicSP10R*
*SmicSP11*
v2lvs.log
jpeg_asic.spi
calibre.lvs.*
.cgilvs*
_smic18*
__meta*

./LVS/svdb/

*SmicDR7T*

query_results
