Astro.*

*.log
vs_*
skip*
lefPin*

stdcell6.lef*
SMIC18IO*
lib_aes_ASIC

data_bend/aes_ASIC*
data_fend/aes_ASIC*

data_bend/jpeg_top*
data_fend/jpeg_top*

A2Hdl*
buffer.acts
net.acts
ECO*
adrc*
adv_drc*
hx2*
run_details*
AddIOText.txt
syncInfo
.zr.sg
aes_ASIC.tdf

mw_lib/
logs/