Astro.*

*.log
vs_*
skip*
lefPin*

stdcell6.lef*
SMIC18IO*

data_bend/jpeg_asic*
data_fend/jpeg_asic*

A2Hdl*
buffer.acts
net.acts
ECO*
adrc*
adv_drc*
hx2*
run_details*
AddIOText.txt
syncInfo
.zr.sg

mw_lib/
logs/
design_lib_jpeg_asic/
reports/
